::root {
}

.w-100-vw {
	width: 100vw;
}
.h-100-per {
	height: 100%;
}

* {
	box-sizing: border-box;
}

html,
body {
	height: 100vh;
	width: 100vw;
    display: flex;
    flex-direction: column;
}

.content{
    display: flex;
    flex-direction: column;
}