::root {
}

.w-100-per {
	width: 100%;
}
.h-100-per {
	height: 100%;
}

* {
 box-sizing: border-box;
    margin: 0;
   padding:0;

}

html,
body {
	height: 100vh;
}

main{
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr autos;
    grid-template-columns: 100%;
}

header, main {
    flex-shrink: 0;
}

header{
    height: 94px;

}

.green{
    display: flex;
    justify-content: space-between;
}

.rHeader {
    display: flex;
    gap: 40px;
}

.content{
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.red{
    display: grid;
    align-items: center;
    justify-content: center;

}


.grid{
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
    gap: 70px;
    padding:20px;

}

.grid > div{
background: rgb(41, 40, 40);
height: 450px;
display: grid;
justify-content: center;
align-items: center;
border-radius: 2px;

}

.canvas{
    width: 100px;
    background-size: cover;
}

.yellow{
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;

}